language: python
python:
  - "2.7"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements.txt && pip install matplotlib==1.1
# command to run tests, e.g. python setup.py test
script:  python manage.py tests
