Django==1.8.2
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pygments==2.0.2
amqp==1.4.6
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
celery==3.1.18
certifi==2015.04.28
decorator==3.4.2
django-celery==3.1.16
django-extensions==1.5.5
django-keyedcache==1.5.1
django-model-utils==2.2
django-picklefield==0.3.1
functools32==3.2.3-1
ipaddr==2.1.11
ipython==3.2.0
jsonschema==2.5.1
kombu==3.0.26
librabbitmq==1.6.1
mistune==0.6
netifaces==0.10.4
networkx==1.9.1
ptyprocess==0.5
pygraphviz==1.2
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.7.0
six==1.9.0
terminado==0.5
tornado==4.2
wsgiref==0.1.2
matplotlib==1.4.3
numpy==1.9.2
