{% extends "base.htm" %}

{% block title %}User Registration{% endblock %}

{% block h1 %}<h1>Registration</h1>{% endblock %}
{% block content %}
  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}

  
  <form method="post" action="" > {% csrf_token %}
    <p>
      <label for="id_firstname">First Name:</label>
      {% if form.first_name.errors %}
        <p class="errors">{{ form.first_name.errors.as_text }}</p>
      {% endif %}
      {{ form.first_name }}
    </p>
    <p>
      <label for="id_last_name">Last Name:</label>
      {% if form.last_name.errors %}
        <p class="errors">{{ form.last_name.errors.as_text }}</p>
      {% endif %}
      {{ form.last_name }}
    </p>
    <p>
      <label for="id_username">Username:</label>
      {% if form.username.errors %}
        <p class="errors">{{ form.username.errors.as_text }}</p>
      {% endif %}
      {{ form.username }}
    </p>
    <p>
      <label for="id_organization">Organization:</label>
      {% if form.organization.errors %}
        <p class="errors">{{ form.organization.errors.as_text }}</p>
      {% endif %}
      {{ form.organization }}
    </p>
    <p>
      <label for="id_email">Email address:</label>
      {% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
      {% endif %}
      {{ form.email }}
    </p>
    <p>
      <label for="id_password1">Password:</label>
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
      {{ form.password1 }}
    </p>
    <p>
      <label for="id_password2">Password:</label>
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}
      {{ form.password2 }}
    </p>
    <p>
     I authorize the RTN live lab webmaster to handle my personal details in information systems for the specific tasks of guaranteeing access to the demo web services delivered in compliance with the Italian law 196/2003 {{ form.tos }}
    </p>
    <p class="submit"><input type="submit" value="Register &rarr;"></p>
  </form>
{% endblock %}
