{% extends "base.htm" %}
{% block title %}Home{% endblock %}
	
	{% block h1 %}<h1>PyoT</h1>{% endblock %}
{% block content %}

<div>
	<p> PyoT is an IoT Django-based web application and macroprogramming interface.</p>

	<img src="/static/images/pyotarch.png" >

	<p>PyoT puts together Django, Celery, libcoap:

	<ul align="left">
		<li>Allows remote management of a IoT based network. (6LoWPAN, CoAP)</li>
		<li>CoAP resources, 6LoWPAN nodes are abstracted as high-level Django models objects</li>
		<li>Provides a nice interface to interact with CoAP resources</li>
		<li>Enables macroprogramming, using Django shell</li>
	</ul></p>
	<p>PyoT comes with a Contiki Cooja simulation for local testing.</p>
	
</div>
{% endblock %}
