{% extends "base.htm" %}
{% block title %}Settings{% endblock %}

	
	{% block h1 %}<h1>Application Settings</h1>{% endblock %}
{% block content %}
<div> {{ status }}</div>
	<table id="workers" style="display:none"></table>


<script type="text/javascript" src="/static/settings.js"></script> 

<div><input type="submit" value="SHUTDOWN APPLICATION" onclick = "shutdown();"/></div>

<h2>Statistics</h2>

{% if starttime %}

<p   align="left"> CoAP server started on: {{ starttime }}. </p>

<ul align="left">
	<li>Uptime: {{ uptime }}</li>
	<li>Uptime (seconds): {{ timealiveSecs }}</li>
</ul>

<h3>Global stats</h3>

<ul align="left">
	<li>Host Count: {{ hostcount }}</li>
	<li>Active Host count: {{hostsactiveCount}}</li>
	<li>Resource Count (.well known excluded): {{ rescount }}</li>

	<li>Message Count from subscriptions: {{ msgsubs }}</li>

	<li>Resource Discoveries:  {{ discoveries }}</li>

	<li>Registrations: {{ registrations }}</li>

	<li>Hosts canceled: {{ canceled }}</li>
</ul>


<h3>Per host stats</h3>

{% for h in perHost %}
<p   align="left"> HostIP: {{ h.ip}} </p>
<ul align="left">
    <li>Active : {{ h.active }}</li>
    <li>Last Seen on: {{ h.lastSeen }}</li>
    <li>Discoveries: {{h.discount}}</li>
    <li>Cleanings: {{h.cleancount}}</li>
    <li>Registrations: {{h.regcount}}</li>
    <li>Keep Alive Count: {{ h.kacount }}</li>
    <li>Expected Messages: {{ h.expected }}</li>
    <li>Received: {{ h.perc }} %.</li>

</ul>

{% endfor %}

<h3>Per subscription stats</h3>

{% for s in perSub %}
<p   align="left"> 
<ul align="left">
    <li>Resource : {{ s.res }}</li>
    <li>Type: {{ s.type}}</li>
    <li>Period: {{s.period}}</li>
    <li>Threshold: {{s.thr}}</li>
    <li>Time added: {{s.timeadded}}</li>
    <li>Message Count: {{ s.messcount }}</li>
</ul>
</p>
{% endfor %}

{% endif %}




{% endblock %}
