{% if active %}

<table  id="hor-minimalist-a" style = "margin-left: auto; margin-right: auto;">
	<thead>
		<tr>
			<!--<th>Subscription type</th>
			<th>Threshold</th>-->
			<th>Duration</th>			
			<th>Timeadded</th>
			<th>PID</th>
			<th>Stop</th>
		</tr>
	</thead>
{% for f in subList %}
	<tr>
		<!--<td> {{ f.subtype }} </td>
		<td> {{ f.threshold }} </td>-->
		<td> {{ f.duration }} </td>		
		<td> {{ f.timeadded}} </td>
		<td> {{ f.pid}} </td>	
		<td> <div class="fake_link" onclick = "terminate('{{f.pid}}');"> Stop task </div ></td>
	</tr>
{% endfor %}
</table>
{% else %}
No active subscriptions
{% endif %}

